 body {


	margin: 0;
	padding: 0;
	text-align: center;
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(pics.jpg);
    background-position: center;
    font-family: sans-serif;

}
.upper
{
   margin-top: 100px;
   color: #fff;
   text-transform: uppercase;
   transition: all 4s ease-in-out;

} 
.upper h1{
  font-size: 45px;
  line-height: 10px;

}
.upper h2{

font-size: 16px;
}


form{

	margin-top: 50px;
	transition: all 4s ease-in-out;

}

.form-conrol{
  
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;

}

input{

height: 45px;

}

form .submit
{
	background: #ff5722;
	border-color: transparent;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 5px;
	height: 50px;
	margin-top: 20px;

}


.send{
  
    text-align: center;
    background: transparent;
    border: none;
    outline: none;
    
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;

}

form .submit:hover
{
	background-color: red;
	cursor: pointer;
}